<div class="d-flex" id="wrapper" #wrapperRef>

    <!-- Sidebar -->
    <div class="bg-menu border-right" id="sidebar-wrapper">
      <div class="sidebar-heading mb-3 mt-3 text-center">Stringiyan</div>
      <div class="list-group list-group-flush">
        <a routerLink="dashes" class="list-group-item list-group-item-action bg-menu text-white"><i class="fas fa-cart-plus mr-3"></i>Platos</a>
        <a routerLink="drinks" class="list-group-item list-group-item-action bg-menu text-white"><i class="fas fa-cocktail mr-3"></i>Bebidas</a>
        <a routerLink="categories" class="list-group-item list-group-item-action bg-menu text-white"><i class="fas fa-plus-square mr-3"></i>Categorías de la carta</a>
        <a routerLink="categoriesdrinks" class="list-group-item list-group-item-action bg-menu text-white"><i class="fas fa-plus-square mr-3"></i>Categorías de las bebidas</a>
        <a routerLink="promotions" class="list-group-item list-group-item-action bg-menu text-white"><i class="fas fa-chart-line mr-3"></i>Promociones</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <button (click)="toggle()" class="btn btn-menu mt-3 ml-3" id="menu-toggle"><i class="fas fa-arrow-circle-right"></i></button>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>