<div class="wraper d-flex flex-column justify-content-between">
  <div class="d-flex justify-content-center p-2 p-md-5">
    <img [src]="logo" alt="" class="logo p-5 p-md-1">
  </div>
  <div class="d-flex flex-column align-items-end pb-5 menu-index">
    <a [routerLink]="['./carta']" class="py-2 px-3 mb-2 text-uppercase item-1">Carta</a>
    <a [routerLink]="['./bebidas']" class="py-2 px-3 mb-2 text-uppercase item-2">Bebidas</a>
    <a [routerLink]="['./promociones']" class="py-2 px-3 mb-2 text-uppercase item-3">Promociones</a>
  </div>
</div>
