<h1 class="mt-4">Añadir platos</h1>
<p>Añade platos a la carta.</p>
<div class="row">
  <div class="col-12 col-md-4">
    <form [formGroup]="dashesForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
      <div class="row">
          <div class="col-6">
            <input type="text" name="name" formControlName="name" class="mr-2 rounded inpt-cat w-100" placeholder="Nombre">
          </div>
          <div class="col-6">
            <input type="number" name="price" formControlName="price" class="mr-2 rounded inpt-cat w-100" placeholder="Precio">
          </div>
          <div class="col-12">
            <select class="w-100 mt-2" name="category" formControlName="category">
              <option *ngFor="let category of categoryList" value="{{ category.$key }}">{{ category.name }}</option>

            </select>
          </div>          
      </div>
      <textarea name="description" formControlName="description" id="" cols="10" rows="5" class="mt-2"></textarea>
      <button type="submit" class="btn-principal d-flex justify-content-center align-items-center text-white px-2 mt-3"><i class="fas fa-plus-circle text-white mr-2"></i>Añadir</button>
    </form>
  </div>
</div>
