<h1 class="mt-4">Añadir categorías a la carta</h1>
<p>Añade categorías a la carta.</p>
<div class="row">
  <div class="col-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="text" name="" formControlName="email" id="">
      <button type="submit">Añadir</button>
    </form>
  </div>
</div>


<table class="table mt-5">
    <caption>Lista de categorías</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Setas de temporada</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Setas de temporada</td>
      </tr>
    </tbody>
  </table>
