<div class="modal-content">
    <div class="modal-header">
        <h4>Editar categoría</h4>
    </div>
    <div class="modal-body">
        <div class="col-12">
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
                <div class="row">
                    <div class="col-4">
                        <input type="text" name="" formControlName="name" class="mr-2 rounded inpt-cat w-100 p-1"
                            placeholder="Nombre">
                    </div>
                </div>
                <!-- <button type="submit" class="btn-warning d-flex justify-content-center align-items-center text-white p-2 mt-3"><i class="fas fa-pencil text-white mr-2"></i>Editar</button> -->
            </form>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirm()">Editar</button>
    </div>
</div>
